<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <style type="text/css">
        body { background: white }
        * { font-family: 'Open Sans', sans-serif; margin: 0 auto}
        #avatar {margin:auto; background-color: #eee;background-size: cover; width: 300px; height: 300px; border-radius: 50%}
    </style>
</head>
<body>
<div style="text-align: center; padding: 10px">
    <div id="avatar" style="background-image: url(<%= avatar_url%>)"></div>
    <h1><%= username%></h1>
</div>
</body>
</html>